body {
    margin: 0;
    font-family: 'Times New Roman', sans-serif;
    position: relative;
    min-height: 100vh;
}

.menu a {
    display: inline-block;
    padding-right: 2em;
    color: white;
    font-size: 1.5em;
}

.menu {
    text-align: right;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

label {
    display: none;
}

label.abc {
    font-size: 2.3em
}

#toggle {
    display:none
}
header {
    background-color: black;
    overflow: hidden;
}

a:visited, a, #name {
    color: white;
    text-decoration: none;
}

/* #name {
    float: left;
    padding-left: 7px;
    color: white;
    text-decoration: none;
} */

body {
    background-color: white;
}

h1 {
    text-align: center;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 1em;
}

p {
    padding: 1em;
}

h2 {
    text-align: center;
}

img {
    width: 75%;
    border: solid 1px black;
}

.Bio {
    border-bottom: 1px solid black;
    margin: 0;
}

div.box {
    margin: 0;
    align-items: center;
    width: 100%;
} 


.box a {
    color: black;
    font-family: 'Alatsi', sans-serif;
}

.left {
    text-align: left;
}

.main {
    text-align: center;
    
}

footer {
    background-color: black;
    overflow: hidden;
    margin: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer a {
    padding-left: 1em;
    padding-right: 0.5em;
    color: white;
    flex-grow: 1;
    font-size: 1.5em;
}

.text {
    color: white;
    margin: 0;
    padding: 0;
}

.screenshot {
    height: 15vh;
    width: 45%;
    border: solid black 1px;
    margin-left: 25%;
}

.container {
    display: flex;
}

.container div {
    display: flex;
    flex-direction: column;
}

.container p {
    flex-grow: 1;
}


@media only screen and (max-height: 900px) {
    footer {
        bottom: -30px;
    }
}

@media screen and (max-width: 500px) {
    .box{
        margin: 25%;
        margin-top: 0%;
        margin-bottom: 0%;
    }

    .container {
        display: block;
        margin-top: 0%:
    }

    footer {
        bottom: -60px;
    }
    
    .menu a {
        display: none;
    }

    label {
        display: block;
        color: white;
        float: right;
        padding: 1px;
        cursor: pointer;
    }

    #toggle:checked + .menu a {
        display: block;
        padding-right: 0;
    }

    footer {
        font-size: 14px;
    }

}

.icons {
    width: 10%;
    height: 5vh;
    margin: 5%;
}

.email {
    width: 5%;
    height: 5vh;
    margin: 5%;
}

.contact-page {
    display: flex;
    flex-direction: column;
    text-align: center;
}