body {
    margin: 0;
    font-family: 'Times New Roman', sans-serif;
    position: relative;
    min-height: 100vh;
}
.menu a {
    display: inline-block;
    padding-right: 2em;
    color: rgb(255,255,255);
    font-size: 1.5em;
}

.menu {
    text-align: right;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #000000;
}

label {
    display: none;
}

label.abc {
    font-size: 2.3em
}

#toggle {
    display: none
}
header {
    background-color: black;
    overflow: hidden;
}

a:visited, a, #name {
    color: rgb(255,255,255);
    text-decoration: none;
}

body {
    background-color: white;
}

h1 {
    text-align: center;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 1em;
}

p {
    padding: 1em;
}

h2 {
    text-align: center;
}

img {
    width: 75%;
    border: solid 1px black;
}

.Bio {
    border-bottom: 1px solid black;
    margin: 0;
}

div.box {
    margin: 0;
    align-items: center;
    width: 100%;
} 


.box a {
    color: black;
    font-family: 'Alatsi', sans-serif;
}

.left {
    text-align: left;
}

.main {
    text-align: center;
    
}

.box{
    margin: 25%;
    margin-top: 0%;
    margin-bottom: 0%;
}

.container {
    display: block;
    margin-top: 0%:
}

.menu a {
    display: none;
}

label {
    display: block;
    color: white;
    float: right;
    padding: 1px;
    cursor: pointer;
}

#toggle:checked + .menu a {
    display: block;
    padding-right: 0;
}

@media screen and (min-width: 800px) {
    label.abc {
        display: none;
    }

    img {
        width: 45%;
        border: solid 1px black;
    }

    .menu a {
        display: inline-block;
        padding-right: 2em;
        color: rgb(255,255,255);
        font-size: 1.5em;
    }
    
    .menu {
        text-align: right;
        padding: 0;
        margin: 0;
        overflow: hidden;
        background-color: #000000;
    }
}
